<div class="flex-row nav-hero">
  <div class="flex-column nav-hero-column">
    <div class="flex-row">

      <div class="flex-row flex-grow nav-header">
        <div class="flex-row flex-grow icon-container">
          <div class="logo-home-container">
            <div class="nav-logo">
              <span class="logo-first-part">Bond</span>
              <span class="logo-second-part">Free</span>
            </div>
          </div>
          <div uib-popover-template="popover.renterTemplateUrl"
               popover-trigger="mouseenter" 
               popover-placement="bottom"
               popover-popup-close-delay="2000"
               class="nav-renters">
               Renters <i class="ion-arrow-down-b"></i></div>
          <div uib-popover-template="popover.principalTemplateUrl"
               popover-trigger="mouseenter" 
               popover-placement="bottom"
               popover-popup-close-delay="2000"
               class="nav-principals">
               Agencies <i class="ion-arrow-down-b"></i></div>
        </div>
        <div class="flex-row nav-objects">

        <div class="flex-column nav-login-switch-prompt">
          <div class="flex-row">
            <div class="flex-column"><i class="nav-icon icon-rental-agency ion-clipboard"></i></div>
            <div class="flex-column nav-title">Are you a rental agency?</div>
          </div>
        </div>
        <div class="flex-column">
          <div class="flex-row flex-justify-center">
            <div class="login-button-nav">
              <span class="login">Log In</span>
              <span class="agency-login">Agency Log In</span>
            </div>
          </div>
        </div>     

        </div>
      </div>
    </div>

    <div class="flex-row flex-grow">
      
      <div class="flex-row flex-justify-center middle-container">

        <div class="flex-column pitch-container">
          <div class="flex-row flex-justify-center nav-rental">Move into your next rental faster by going BondFree.</div>

<!--           <div class="flex-column input-containers">
              <p class="input-group">
                <input placeholder="Email address" type="text" class="form-control email-input"/>
              </p>
          </div> -->

          <div class="flex-column input-containers">
              <p class="input-group">
                <input placeholder="Email address" type="text" class="form-control password-input"/>
              </p>
          </div>  

          <div class="flex-column input-containers">
              <p class="input-group">
                <input placeholder="Password" type="password" class="form-control password-input"/>
                <p class="forgot-password">Forgot password?</p>
              </p>
          </div>             

          <div class="flex-column input-containers">
            <div>
              <div class="home-search-button">Log In</div>
            </div>            
          </div>   


          <div class="flex-column sign-up-option-below">
            <div class="flex-row flex-justify-center">
              <span class="sign-up-prompt">Don't have an account yet?</span><div class="login-button-nav sign-up">Sign Up</div>
            </div>
          </div>   

        </div>

      </div>
    </div>

    <div class="flex-row flex-grow">
      <div class="flex-row flex-grow flex-justify-center">
        <span class="learn-more">Learn How It Works <i class="ion-arrow-down-b"></i></span>
      </div>
    </div>

  </div>
</div>


<div class="flex-row">
  <div class="flex-column flex-grow"></div>
  <div class="flex-column flex-grow"></div>
</div>

