<div class="container modal-container">

  <div class="flex-column input-containers">
      <p class="input-group">
        <input placeholder="Enter email address" type="text" class="form-control password-input"/>
      </p>
  </div>  

  <div class="flex-column input-containers">
    <div>
      <div ng-click="home.toggleLogin()" class="home-search-button" ng-class="{ 'logging-in' : home.loggingIn }">
        <span ng-if="home.loggingIn"><div class="loading"><div class="outer"></div><div class="inner"></div></div>Logging In...</span>
        <span ng-if="!home.loggingIn">Email Me Reset Password Link</span>
      </div>                                 
    </div>            
  </div>    

</div>



