<div class="flex-column">
    <div class="flex-row app-nav-header">

      <div class="flex-row flex-grow nav-header">
        <div class="flex-row flex-grow icon-container">
          <div class="logo-home-container">
            <div class="nav-logo app-nav-logo">
              <span class="logo-first-part app-logo-first-part">Bond</span>
              <span class="logo-second-part app-logo-second-part">Free</span>
            </div>
          </div>
        </div>
        <div class="flex-row">

        <div class="flex-column nav-login-switch-prompt main-user-nav">
          <div class="flex-row">
            <div class="flex-column"><i class="nav-icon icon-rental-agency ion-person"></i></div>
            <div class="flex-column nav-title app-nav-title">Ben (Ray White Paddington)</div>
          </div>
        </div>
        <div class="flex-column nav-login-switch-prompt main-user-nav-mobile">
          <div class="flex-row">
            <div class="flex-column"><i class="nav-icon icon-rental-agency ion-person"></i></div>
            <div class="flex-column nav-title app-nav-title">Ben</div>
          </div>
        </div>        
        <div class="flex-column nav-logout-holder">
          <div class="flex-row flex-justify-center">
            <div class="login-button-nav app-logout-button nav-logout-only" ui-sref="home">
              <span class="login">Log Out</span>
              <span class="agency-login">Log Out</span>
            </div>
          </div>
        </div>     

        </div>
      </div>
    </div>

    <div class="flex-row main-dashboard-container">
        <div class="flex-column main-side-nav">
            <div class="flex-row main-nav-option on-route">My Applications</div>
            <div class="flex-row main-nav-option">My Agents</div>
            <div class="flex-row main-nav-option main-add-application">
                <div class="flex-row flex-grow" ui-sref="newApplication">Add New Application</div>
                <div class="flex-row plus"><i class="ion-plus"></i></div>
            </div>
            <div class="flex-row main-nav-option main-add-application">
                <div class="flex-row flex-grow">Add New Agent</div>
                <div class="flex-row plus"><i class="ion-plus"></i></div>
            </div>            
        </div>
        <div class="flex-column main-center-content">

            <div class="flex-row nav-content-holder">
                <div class="flex-column flex-grow">
                    <div class="flex-row flex-grow">
                        <div class="flex-row nav-mobile-item flex-justify-center flex-grow"><i class="ion-clipboard"></i>My Applications</div>
                        <div class="flex-row nav-mobile-item flex-justify-center flex-grow"><i class="ion-person"></i>My Agents</div>
                    </div>
                    <div class="flex-row flex-grow">
                        <div ui-sref="newApplication" class="flex-row nav-mobile-item flex-justify-center flex-grow"><i class="ion-plus"></i><i class="ion-clipboard"></i>Add New Application</div>
                        <div class="flex-row nav-mobile-item flex-justify-center flex-grow"><i class="ion-plus"></i><i class="ion-person"></i>Add New Agent</div>
                    </div>
                </div>
            </div>


            <div class="flex-row main-content-holder">
                <div class="flex-column flex-grow content-holder">
                    <div class="flex-row main-content-header"><span>My Applications</span>

                        <div 
                           uib-popover="This is a list of all applications you have submitted on behalf of your potential and current tenants who applied for a BondFree bond."
                           popover-trigger="mouseenter" 
                           popover-placement="bottom"
                           popover-title="Applications"
                           class="flex-row title-bar-help">
                           <i class="ion-ios-help-outline"></i>
                        </div>
                    </div>  

                    <div class="inner-addon left-addon flex-row main-content-search">
                        <i class="glyphicon glyphicon-search"></i>
                        <input type="text" class="form-control" placeholder="Search" />
                    </div>


                    <div class="flex-row flex-justify-center main-content-no-data">
                        <div class="no-data-text">You don't have any applications at the moment. Check back soon.</div>
                    </div>                    

                    <div class="flex-row main-internal-content">
                        <div class="flex-column flex-grow main-internal-only">
                            <div class="flex-row main-content-label-row">
                                <div class="flex-row">Status</div>
                                <div class="flex-row">Name</div>
                                <div class="flex-row">Location</div>
                                <div class="flex-row">Commission</div>
                                <div class="flex-row viewer"></div>
                            </div>
                            <div class="flex-row main-content-row" ui-sref="showApplication">
                                <div class="flex-row content-status">Submitted</div>
                                <div class="flex-row">Ben Cochrane</div>
                                <div class="flex-row">267 Underwood Street, Paddington, NSW</div>
                                <div class="flex-row">$67.85</div>

                                <div class="flex-row content-view-button flex-justify-right bond-item-nav">
                                    <div class="login-button-nav" ui-sref="agency">
                                      <span class="login logout">View</span>
                                    </div>
                                </div>

                                <div class="flex-row flex-justify-right bond-item-nav-mobile">
                                    <div class="" ui-sref="agency">
                                      <span><i class="ion-chevron-right"></i></span>
                                    </div>
                                </div>    

                            </div> 
                            <div class="flex-row main-content-row">
                                <div class="flex-row content-status">Submitted</div>
                                <div class="flex-row">Bill Bobs</div>
                                <div class="flex-row">12 Main Street, Newtown, NSW</div>
                                <div class="flex-row">$34.25</div>

                                <div class="flex-row content-view-button flex-justify-right bond-item-nav">
                                    <div class="login-button-nav" ui-sref="agency">
                                      <span class="login logout">View</span>
                                    </div>
                                </div>

                                <div class="flex-row flex-justify-right bond-item-nav-mobile">
                                    <div class="" ui-sref="agency">
                                      <span><i class="ion-chevron-right"></i></span>
                                    </div>
                                </div>  

                            </div>  
                            <div class="flex-row main-content-row">
                                <div class="flex-row content-status">Submitted</div>
                                <div class="flex-row">Bianca Smith</div>
                                <div class="flex-row">98 Sussex Street, Sydney, NSW</div>
                                <div class="flex-row">$74.15</div>

                                <div class="flex-row content-view-button flex-justify-right bond-item-nav">
                                    <div class="login-button-nav" ui-sref="agency">
                                      <span class="login logout">View</span>
                                    </div>
                                </div>

                                <div class="flex-row flex-justify-right bond-item-nav-mobile">
                                    <div class="" ui-sref="agency">
                                      <span><i class="ion-chevron-right"></i></span>
                                    </div>
                                </div>  

                            </div>                                                                                   
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>